{% extends 'base.html' %}
{% block body %}



<div class="container">
     <form method="post" action="changePassword" id="form">
          {% csrf_token %}

          <h3>{{teacherkonam}} </h3>
          <h4>Enter new Password</h4>


          <br>
          <div class="row">

               <div class="col-4">

                    <label for="password">Enter Password:</label>
               </div>
               <div class="col-6">
                    <input type="password" name="password1" id="password1" placeholder="Enter Password" required>
               </div>

          </div>
          <br>
          <div class="row">
               <div class="col-4">

                    <label for="password">Re-Enter Password:</label>

               </div>
               <div class="col-6">
                    <input type="password" name="password2" id="password2" placeholder="Re-Enter Password" required>

               </div>
          </div>
          <br>

          <div class="input-box">
               <input type="hidden" value="{{teacherkonaam}}" name="name" readonly>
          </div>
          <div>
               <button type="submit" class="btn btn-primary" id="btn" name="PwdBtn">Submit</button>
          </div>

     </form>

</div>

<script>
     password1 = document.getElementById("password1").value;
     password2 = document.getElementById("password2").value;
     button = document.getElementById("btn");
     button.addEventListener("click", function() {
          if (password1!==password2) {
               alert('two password didnt match');

                    console.log("success");
               }
               else {
                    console.log('faiuere');
               }
          }
     );
</script>

<h1>{{teacher_nam}}</h1>

{% endblock body %}